.wrapper {

  /* border: 1px solid red; */
  /* width: 1440px; */

  display: block;
  align-items: center;
  justify-content: center;

}

.header {
  /* border: 1px solid yellow; */
  background: var(--gray-700);
  height: 200px;
  padding: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newTask {
  /* border: 1px solid blue; */
  width: 826px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  row-gap: 8px;
  position: relative;
  top: -30px;
  margin: auto;
}

.newTask input {
  width: 736px;
  padding: 16px;
  color: var(--gray-300);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}


.newTask button {
  display: flex;

  background: var(--blue-dark);
  color: white;
  border-radius: 8px;
  width: 90px;
  margin-left: 8px;
  border: 0;
  font-weight: bold;
  padding: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.newTask button:hover {
  background: var(--blue);

}

.newTask img {
  height: 20px;
  margin-left: 6px;
}

.tasks {
  /* border: 1px solid green; */
  width: 826px;
  margin: auto;
}

.taskInfo {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.taskInfoCreated {
  color: var(--blue);
  font-weight: bold;
}

.taskInfoFinished {
  color: var(--purple);
  font-weight: bold;
}

.taskContent {
  /* border: 1px solid blue; */
  border-top: 1px solid var(--gray-300);
  border-radius: 8px;

  /* display: table; */
  text-align: center;
  justify-content: space-around;
  /* align-items: center; */
  /* align-content: center; */
}

.taskContent img {
  display: inline;
  margin: 40px;
}

.taskContent p {
  font-weight: bold;
}